body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#red {
    width : 100px;
    height : 100px;
    background : red;
}


#magenta {
    width : 100px;
    height : 100px;
    background : magenta;
}


#blue {
    width : 100px;
    height : 100px;
    background : blue;
}


#purple {
    width : 100px;
    height : 100px;
    background : purple;
}